body {
    font-family: "Arial", sans-serif;
}

section {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: fit-content;
}

.container {
    height: fit-content;
    width: fit-content;
    float: left;
    /*
    display: inline-block;
    */
    margin-right: 0px;
    margin-top: 10%;
    margin-left: 30%;
    
}

.cell {
    font-family: "Permanent Marker", cursive;
    width: 150px;
    height: 150px;
    box-shadow: 0 0 0 2px rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    cursor: pointer;
    color: rgb(0, 255, 255);
    font-size: 120px;
    text-align: center;
}

.side-bar {
    font-family: 'Fjalla One', sans-serif;
    font-size: 50px;
    float: left;
    padding-bottom: 300px;
    margin-top: 10%;
    margin-left: 50px;
    height: 100px;
    width: 150px;
    background-color: rgb(0, 0, 0);
    line-height: 10px;
    color:rgb(255, 255, 255);
}

.nav-bar {
    width: 100%;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #002544;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #002544;
    display: inline-block;
    cursor: pointer;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(48, 64, 116);
  }
